# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\声音测液体\MicAndSpeaker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
